In [9]:
import pandas as pd

In [10]:
alabama = "Resources/alabama_District_all.csv"

In [11]:
alabama_df = pd.read_csv(alabama, encoding = "ANSI")

In [12]:
alabama_df.head()

,Topic,Subject,Title,District 01 Estimate,District 01 MOE,District 02 Estimate,District 02 MOE,District 03 Estimate,District 03 MOE,District 04 Estimate,District 04 MOE,District 05 Estimate,District 05 MOE,District 06 Estimate,District 06 MOE,District 07 Estimate,District 07 MOE
0,People,Sex and Age,Total population,713410,(+/- 3462 ),673776,(+/- 6626 ),710488,(+/- 4658 ),685553,(+/- 5159 ),718713,(+/- 200 ),700401,(+/- 8862 ),672406,(+/- 12110 )
1,People,Sex and Age,Male,343769,(+/- 3101 ),328474,(+/- 4155 ),346742,(+/- 2755 ),332923,(+/- 3806 ),353533,(+/- 1531 ),333957,(+/- 5675 ),320498,(+/- 7039 )
2,People,Sex and Age,Female,369641,(+/- 2814 ),345302,(+/- 4207 ),363746,(+/- 3884 ),352630,(+/- 3889 ),365180,(+/- 1531 ),366444,(+/- 5087 ),351908,(+/- 6766 )
3,People,Sex and Age,Under 5 years,43148,(+/- 805 ),40405,(+/- 1656 ),40694,(+/- 1548 ),41931,(+/- 1689 ),40818,(+/- 844 ),42110,(+/- 2049 ),39791,(+/- 2553 )
4,People,Sex and Age,5 to 9 years,42961,(+/- 3057 ),41290,(+/- 2912 ),44309,(+/- 3505 ),44765,(+/- 2961 ),41893,(+/- 2966 ),43242,(+/- 2272 ),40657,(+/- 3395 )

In [13]:
# join together columns: "Topic", "Subject", and "Title" inorder to avoid 
# previous problems with duplicate column names after transform
alabama_df['Title'] = alabama_df[alabama_df.columns[0:3]].apply(
    lambda x: '-'.join(x.dropna().astype(str).astype(str)),
    axis=1)
#answer from StactOverflow:
#https://stackoverflow.com/questions/33098383/merge-multiple-column-values-into-one-column-in-python-pandas

alabama_df

,Topic,Subject,Title,District 01 Estimate,District 01 MOE,District 02 Estimate,District 02 MOE,District 03 Estimate,District 03 MOE,District 04 Estimate,District 04 MOE,District 05 Estimate,District 05 MOE,District 06 Estimate,District 06 MOE,District 07 Estimate,District 07 MOE
0,People,Sex and Age,People-Sex and Age-Total population,713410,(+/- 3462 ),673776,(+/- 6626 ),710488,(+/- 4658 ),685553,(+/- 5159 ),718713,(+/- 200 ),700401,(+/- 8862 ),672406,(+/- 12110 )
1,People,Sex and Age,People-Sex and Age-Male,343769,(+/- 3101 ),328474,(+/- 4155 ),346742,(+/- 2755 ),332923,(+/- 3806 ),353533,(+/- 1531 ),333957,(+/- 5675 ),320498,(+/- 7039 )
2,People,Sex and Age,People-Sex and Age-Female,369641,(+/- 2814 ),345302,(+/- 4207 ),363746,(+/- 3884 ),352630,(+/- 3889 ),365180,(+/- 1531 ),366444,(+/- 5087 ),351908,(+/- 6766 )
3,People,Sex and Age,People-Sex and Age-Under 5 years,43148,(+/- 805 ),40405,(+/- 1656 ),40694,(+/- 1548 ),41931,(+/- 1689 ),40818,(+/- 844 ),42110,(+/- 2049 ),39791,(+/- 2553 )
4,People,Sex and Age,People-Sex and Age-5 to 9 years,42961,(+/- 3057 ),41290,(+/- 2912 ),44309,(+/- 3505 ),44765,(+/- 2961 ),41893,(+/- 2966 ),43242,(+/- 2272 ),40657,(+/- 3395 )
5,People,Sex and Age,People-Sex and Age-10 to 14 years,47838,(+/- 2529 ),44359,(+/- 3273 ),45329,(+/- 3255 ),43934,(+/- 2805 ),44990,(+/- 2831 ),50200,(+/- 3122 ),37959,(+/- 3845 )
6,People,Sex and Age,People-Sex and Age-15 to 19 years,45100,(+/- 1734 ),46679,(+/- 2415 ),48304,(+/- 2827 ),46859,(+/- 2815 ),47159,(+/- 1874 ),46862,(+/- 2469 ),55213,(+/- 3184 )
7,People,Sex and Age,People-Sex and Age-20 to 24 years,42221,(+/- 1818 ),44501,(+/- 2697 ),53844,(+/- 2819 ),40035,(+/- 2565 ),48373,(+/- 1979 ),41872,(+/- 2750 ),55495,(+/- 3518 )
8,People,Sex and Age,People-Sex and Age-25 to 34 years,92237,(+/- 2287 ),87524,(+/- 3007 ),92259,(+/- 3629 ),80192,(+/- 2853 ),94633,(+/- 2203 ),86369,(+/- 4185 ),95664,(+/- 4521 )
9,People,Sex and Age,People-Sex and Age-35 to 44 years,84746,(+/- 1825 ),85341,(+/- 2797 ),84923,(+/- 2896 ),82612,(+/- 3299 ),88350,(+/- 2024 ),93457,(+/- 3034 ),76577,(+/- 4351 )
10,People,Sex and Age,People-Sex and Age-45 to 54 years,91780,(+/- 2013 ),86507,(+/- 2686 ),91499,(+/- 2828 ),88230,(+/- 2650 ),98046,(+/- 1628 ),93838,(+/- 3130 ),80430,(+/- 3537 )
11,People,Sex and Age,People-Sex and Age-55 to 59 years,48950,(+/- 3124 ),49123,(+/- 2586 ),47088,(+/- 2633 ),46948,(+/- 3156 ),51289,(+/- 2808 ),45681,(+/- 3403 ),40733,(+/- 3154 )
12,People,Sex and Age,People-Sex and Age-60 to 64 years,50517,(+/- 3139 ),39403,(+/- 2349 ),45190,(+/- 2567 ),46131,(+/- 3013 ),46405,(+/- 2565 ),46343,(+/- 3519 ),47376,(+/- 2679 )
13,People,Sex and Age,People-Sex and Age-65 to 74 years,76005,(+/- 1238 ),63193,(+/- 1705 ),71574,(+/- 1513 ),74220,(+/- 1787 ),69000,(+/- 1323 ),64723,(+/- 2043 ),62198,(+/- 2273 )
14,People,Sex and Age,People-Sex and Age-75 to 84 years,35856,(+/- 1632 ),33839,(+/- 1738 ),33638,(+/- 1701 ),37966,(+/- 1886 ),36240,(+/- 1311 ),32469,(+/- 1897 ),29627,(+/- 2026 )
15,People,Sex and Age,People-Sex and Age-85 years and over,12051,(+/- 1579 ),11612,(+/- 1315 ),11837,(+/- 1373 ),11730,(+/- 1817 ),11517,(+/- 1279 ),13235,(+/- 1525 ),10686,(+/- 1382 )
16,People,Sex and Age,People-Sex and Age-Median age (years),40,(+/- 0.4 ),38.5,(+/- 0.3 ),38.1,(+/- 0.5 ),40.7,(+/- 0.4 ),39.5,(+/- 0.4 ),39.1,(+/- 0.5 ),36.3,(+/- 0.6 )
17,People,Sex and Age,People-Sex and Age-18 years and over,550875,(+/- 2664 ),521813,(+/- 4832 ),554181,(+/- 3442 ),528123,(+/- 4333 ),562286,(+/- 733 ),536024,(+/- 6541 ),527384,(+/- 8883 )
18,People,Sex and Age,People-Sex and Age-65 years and over,123912,(+/- 1356 ),108644,(+/- 1814 ),117049,(+/- 1484 ),123916,(+/- 2074 ),116757,(+/- 1282 ),110427,(+/- 2318 ),102511,(+/- 3009 )
19,People,Race,People-Race-Total population,713410,(+/- 3462 ),673776,(+/- 6626 ),710488,(+/- 4658 ),685553,(+/- 5159 ),718713,(+/- 200 ),700401,(+/- 8862 ),672406,(+/- 12110 )
20,People,Race,People-Race-One race,703163,(+/- 3946 ),657768,(+/- 7134 ),696558,(+/- 4907 ),670915,(+/- 5048 ),703044,(+/- 2615 ),686615,(+/- 8803 ),663100,(+/- 12250 )
21,People,Race,People-Race-White,479792,(+/- 3332 ),434984,(+/- 4336 ),487936,(+/- 4455 ),594163,(+/- 5897 ),544610,(+/- 3066 ),548436,(+/- 7530 ),222797,(+/- 9120 )
22,People,Race,People-Race-Black or African American,198799,(+/- 3328 ),207087,(+/- 6283 ),187176,(+/- 4274 ),49177,(+/- 3260 ),129234,(+/- 2538 ),111541,(+/- 6479 ),424453,(+/- 8976 )
23,People,Race,People-Race-American Indian and Alaska Native,6699,(+/- 1258 ),2427,(+/- 714 ),1287,(+/- 612 ),6636,(+/- 1939 ),5138,(+/- 1082 ),1437,(+/- 604 ),1557,(+/- 966 )
24,People,Race,People-Race-Asian,10717,(+/- 1699 ),7686,(+/- 1493 ),11727,(+/- 1152 ),3863,(+/- 888 ),12993,(+/- 1083 ),13451,(+/- 1587 ),6471,(+/- 1290 )
25,People,Race,People-Race-Native Hawaiian and Other Pacific ...,79,(+/- 127 ),174,(+/- 216 ),49,(+/- 85 ),211,(+/- 240 ),563,(+/- 542 ),119,(+/- 156 ),386,(+/- 479 )
26,People,Race,People-Race-Some other race,7077,(+/- 3016 ),5410,(+/- 1778 ),8383,(+/- 1807 ),16865,(+/- 4224 ),10506,(+/- 2722 ),11631,(+/- 2945 ),7436,(+/- 2888 )
27,People,Race,People-Race-Two or more races,10247,(+/- 2472 ),16008,(+/- 3045 ),13930,(+/- 2882 ),14638,(+/- 2901 ),15669,(+/- 2615 ),13786,(+/- 2358 ),9306,(+/- 2647 )
28,People,Hispanic or Latino and Race,People-Hispanic or Latino and Race-Total popul...,713410,(+/- 3462 ),673776,(+/- 6626 ),710488,(+/- 4658 ),685553,(+/- 5159 ),718713,(+/- 200 ),700401,(+/- 8862 ),672406,(+/- 12110 )
29,People,Hispanic or Latino and Race,People-Hispanic or Latino and Race-Hispanic or...,21976,(+/- 352 ),24457,(+/- 1141 ),20464,(+/- 729 ),45965,(+/- 2229 ),37350,(+/- 4 ),31641,(+/- 3064 ),20117,(+/- 4366 )
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,Business,Total Establishments,Business-Total Establishments-Health care and ...,1427,X,1538,X,1142,X,1548,X,1833,X,1688,X,1458,X
315,Business,Total Establishments,"Business-Total Establishments-Arts, entertainm...",198,X,159,X,94,X,135,X,173,X,226,X,161,X
316,Business,Total Establishments,Business-Total Establishments-Accommodation an...,1331,X,1347,X,1186,X,1060,X,1331,X,1301,X,1262,X
317,Business,Total Establishments,Business-Total Establishments-Other services (...,1663,X,1673,X,1402,X,1440,X,1540,X,1684,X,1614,X
318,Business,Total Establishments,Business-Total Establishments-Industries not c...,21,X,29,X,21,X,30,X,24,X,37,X,22,X
319,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,Source: 2016 County Business Patterns for Cong...,NaN,Source: 2016 County Business Patterns for Cong...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,1. CBP data includes the number of establishme...,NaN,1. CBP data includes the number of establishme...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,2. Industries not classified - Industry could ...,NaN,2. Industries not classified - Industry could ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,3. Statewide - CBP data includes employers wit...,NaN,3. Statewide - CBP data includes employers wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,"4. If a sector does not appear in a district, ...",NaN,"4. If a sector does not appear in a district, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,5. Disclosure and Quality Indicator Flag Defin...,NaN,5. Disclosure and Quality Indicator Flag Defin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,D Withheld to avoid disclosing data for indivi...,NaN,D Withheld to avoid disclosing data for indivi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,G Cell value changed by less than 2 percent by...,NaN,G Cell value changed by less than 2 percent by...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,H Cell value changed by at least 2 percent but...,NaN,H Cell value changed by at least 2 percent but...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,J Cell value changed by 5 percent or more by t...,NaN,J Cell value changed by 5 percent or more by t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,S Cell value withheld because it did not meet ...,NaN,S Cell value withheld because it did not meet ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,N Not available or not comparable,NaN,N Not available or not comparable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,X Not applicable,NaN,X Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,a 0 to 19 employees,NaN,a 0 to 19 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,b 20 to 99 employees,NaN,b 20 to 99 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,c 100 to 249 employees,NaN,c 100 to 249 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,e 250 to 499 employees,NaN,e 250 to 499 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,f 500 to 999 employees,NaN,f 500 to 999 employees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,"g 1,000 to 2,499 employees",NaN,"g 1,000 to 2,499 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,"h 2,500 to 4,999 employees",NaN,"h 2,500 to 4,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,"i 5,000 to 9,999 employees",NaN,"i 5,000 to 9,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,"j 10,000 to 24,999 employees",NaN,"j 10,000 to 24,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,"l 50,000 to 99,999 employees",NaN,"l 50,000 to 99,999 employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,"m 100,000 employees or more",NaN,"m 100,000 employees or more",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN